.notice-msg {
    text-align: center;
}

.notice {
    background: lightgreen;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.alert {
    background: lightcoral;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.notice, .alert {
    padding: 10px 20px;
    display: inline-block;
    margin: 0 auto;
}

#error_explanation{
    background: #f23551;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    h2{
        padding: 20px;
        margin: 0;
        font-size: 20px;
    }
    ul{
        background: #fff;
        color: #e5324a;
        border: 1px solid #F23551;
        margin: 0;
        list-style: none;
        padding: 14px 0;
        li{
            padding: 4px 20px;
            &:before {
                content: '×';
                font-weight: bold;
                font-size: 12px;
                margin-right: 10px;
            }
        }
    }
}