<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h2 class="mb-4">My Appointments</h2>

      <% if @appointments.any? %>
        <% if current_user.doctor? %>
          <%= render 'appointments/doctor_appointments' %>
        <% else %>
          <%= render 'appointments/patient_appointments' %>
        <% end %>
      <% else %>
        <p class="text-muted">You don't have any appointments yet.</p>
      <% end %>
      <div class="d-flex justify-content-between mt-4">
        <% if current_user.patient? %>
          <%= link_to "Back to Doctors", doctors_path, class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
